# History files
.Rhistory
.RData
.Rapp.history
*.Rproj

# Deployment
*.dcf

# Example code in package build process
*-Ex.R
.Rproj.user

# Data files
*.dxf
*.pdf
*.xls
~*.xlsx

# Output files
*.html
*/data/*.csv

*.RDATA
